

 @media screen and (min-width: 320px)  {
	.container {
	min-width: 320px;
	
}
} 

/* HEADER */
@media screen and (max-width: 767px) {
	.nav-list {
		display: none;
	}
	.contact {
		display: none;
	}
	    

	.blok-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}  


	.blok-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	
	
	
	.mobile-menu-open {
		background: transparent;
		padding: 0;
		padding-top: 24px;
		padding-bottom: 22px;
		border: none;
		line-height: 0;
	}

	.mobile-menu {
		position: fixed;
		width: 100%;
		height: 100%; 
		z-index: 1000;
		top: 0;
		left: 0;
		background: #ffffff;
		box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
			0px 1px 6px rgba(46, 47, 66, 0.08);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: opacity 250ms linear, visibility 250ms linear;
	}
	.mobile-menu.is-open {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	
	.mobil-menu-container {
		position: relative;
		padding: 80px 35px 40px;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.mobile-menu-close-btn {
		width: 24px;
		height: 24px;
		position: absolute;
		top: 24px;
		right: 24px;
		line-height: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #ffffff;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 50%;
	}
	.mobile-menu-open-close-icon {
		fill: currentColor;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
	}
	.mobile-nav {
		/* padding-top: 80px;
		padding-left: 40px;
		padding-bottom: 284px; */
		margin-bottom: auto;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 40px;
	}
	.mobile-nav-link {
		display: block;
		font-weight: 700;
		font-size: 36px;
		line-height: 1.11;
		letter-spacing: 0.02em;
		color: #2e2f42;
	}
	.link-color {
		color: #404bbf;
	}
	.mobile-contact {
		margin-bottom: 48px;
	}
	
		


	.mobile-contact-list {
		/* padding-left: 40px;
		padding-right: 35px;
		padding-bottom: 48px; */
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 40px;
	}

	.mobil-phone-link {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 1.11;
		letter-spacing: 0.02em;
		text-transform: capitalize;
		color: #4d5ae5;
	}

	@media screen and (max-width: 420px) {
		.mobil-phone-link {
			font-size: 20px;
    		line-height: 1.2;
	}
}
	.mobile-email-link {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: #434455;
	}
	.mobile-social-list {
		/* padding-left: 40px;
		padding-right: 60px; */
		padding-bottom: 40px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		max-width: 328px;
		
	}
	.mobile-social-item {
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #4d5ae5;
		border-radius: 50%;
	}
	.mobile-social {
		fill: #f4f4fd;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		transition-property: background;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	




/* HERO */

@media screen and (min-device-pixel-ratio: 2) and (max-width: 320px),
  		screen and (min-resolution: 192dpi) and (max-width: 320px),
  		screen and (min-resolution: 2dppx) and (max-width: 320px) {

	.hero-section {
		margin-left: auto;
		margin-right: auto;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero_mob.img-min.jpg");
	}
}
	/* .hero-title {
		
		max-width: 320px;
					}
			} */

			@media screen and (min-device-pixel-ratio: 2) and (max-width: 480px),
			screen and (min-resolution: 192dpi) and (max-width: 480px),
			screen and (min-resolution: 2dppx) and (max-width: 480px) {
  
	  .hero-section {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero_mob-img@2x-min.jpg"), url("../images/hero_mob-img-min.jpg");
	  }
	}
	  /* .hero-title {
		  font-size: 36px;
		  width: 320px;
					  } */
	@media screen and (max-width: 767px) {
		.button {
			margin-top: 72px;
		}
	}

			
  
/* modal */

@media screen and (max-width: 767px){
.modal {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}
.backdrop {
	display: flex;
	background: rgba(46, 47, 66, 0.4);
	overflow-y: scroll;
	position: fixed;
	top: 0;
	left: 0; 
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}
}
/* feature */

@media screen and (max-width: 767px) {

	.blok-feature-icon {
	display: none;
}

.section {
	padding-top: 112px;
	padding-bottom: 112px;}

.feature-list {
	flex-direction: column;
	
}


.feature-subtitle {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
color: var(--title-text-color);


}
.feature-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--subtitle-text-color);
/* margin-bottom: 72px; */

}
.feature-item:not(:last-child) {
	margin-bottom: 72px;
	align-items: center;
	/* padding-left: 16px;
	padding-right: 16px; */
	
	
}
}

/* section-activity */

@media screen and (max-width: 767px)  
{
.section-activity {
	display: none;
}
}


/* section-team */
@media screen and (max-width: 767px) {

	
	.team-list {
		display: flex;
		flex-direction: column;
		gap: 72px;
		width: 264px;
		margin: auto;
				}
		.team-inner:not(:last-child) {
			margin-right: 0;
		}
	}
/* customers */
@media screen and (max-width: 767px) {
	
		.customers-list {
			display: flex;
			flex-wrap: wrap;
			/* justify-content: space-between; */
			gap: 72px 16px;
			max-width: 396px;
			margin: auto;
			
		}
		.customers-item {
			width: calc((100% - 16px) / 2);
			height: 88px;
			}
			/* .customers-icon {
				width: 190px;
				height: 88px;
		} */
		}
		
		/* FOOTER */

		@media screen and (max-width: 766px) {
			.blok-footer {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			/*
			.blok-logo-social {
				flex-direction: column;
				align-items: center;
			} */

			.container-footer {
				flex-direction: column;
				align-items: center;
			}

			.footer-form {
				flex-direction: column;
				align-items: center;
			}
			.input-email {
				display: flex;
				flex-direction: column;
				align-items: center;
				/* max-width: 398px; */
				/* margin-top: 72px; */
				
			}
			.footer-social {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 72px;

			}
			.footer-form-input {
				margin-bottom: 16px;
				width: 398px;
			}

			.blok-name {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 72px;
			}
			/* .logo-blok {
				
			} */
			/* .footer-text {
				margin-bottom: 72px;
			} */

			.footer-form-sumbit {
				margin-left: 0;
			}
		}
		
		@media screen and (max-width: 450px) {
			.footer-form-input {
				width: 300px;
			}

		}