

@media screen and (min-width:768px) {
	.container {
		width: 768px;
	
}
	 .mobile-menu-open {
		display: none;
	} 
	
	
	.contact {
		display: block;
		margin-left: auto;
}
	.contact-list {
		flex-direction: column;
		gap: 12px;
		padding-top: 16px;
		padding-right: 16px;
		padding-bottom: 16px;
}
	.contact-link {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.04em;
		color: var(--subtitle-text-color);
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-delay: 250ms;
}
	.contact-link:hover,
	.contact-link:focus {
		color: #404bbf;
}
}

/* hero */

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  		screen and (min-resolution: 192dpi) and (min-width: 768px),
  		screen and (min-resolution: 2dppx) and (min-width: 768px) {

	.hero-section {
		background-size: 768px;
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero_tab_@2x.jpg");
	}
}

/* modal */


/* modal form */

/* feature */

@media screen and (min-width: 768px) {
	.blok-feature-icon {
		display: none;
	}
	
	.feature-list {
		flex-wrap: wrap;
	}
	.section {
		padding-top: 96px;
		padding-bottom: 96px;
	}
	
	.feature-item {
		width: calc((100% - 24px) / 2);

	}
	.feature-item:not(:last-child) {
		margin-right: 0;
	}
	.feature-subtitle {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
		}
	.feature-text {
	font-weight: 500;
	margin-bottom: 72px;
	}
	.feature-item {
		align-items: center;
		padding-left: 16px;
		padding-right: 16px;
	
	}
	
	}
	
	/* section-activity */

@media screen and (min-width: 768px){

	.section-activity {
		display: none;
	}
	}

	/* section-team */
@media screen and (min-width: 768px) {

	.team-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		}
		.team-inner {
			margin-right: 24px;
			margin-bottom: 62px;
		}
	}
	
	/* customers */
@media screen and (min-width: 768px) {
	
	.customers-list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 24px;
			
		}
	.customers-item {
		width: calc((100% - 48px) / 3);
	}
}

/* FOOTER */

@media screen and (min-width: 768px)  {

	.container-footer {
		width: 565px;
		display: flex;
		flex-wrap: wrap;
		
		
	}
	.footer-form-input {
		width: 264px;
	}
	.input-email {
		display: flex;
		flex-direction: column;
		width: 453px;
		margin-top: 72px;
		
	}
	.footer-social {
		margin-left: 24px;
	}
	.blok-logo-social {
		flex-wrap: wrap;
	}
}